@tailwind base;
@tailwind components;
@tailwind utilities;

.cus-height {
    height: calc(100vh - 56px);
}

/* Add this in your global CSS file, e.g., src/index.css */

::-webkit-scrollbar {
    width: 6px;
    /* Width of the scrollbar */
}


::-webkit-scrollbar-thumb {
    background-color: #9A9A9A;
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Round the thumb */
    /* border: 2px solid #2b2b2b; */
    /* Adds padding around thumb */
}

strong
{
    font-weight: 600;
}